.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 10% 0;
  gap: 30px;

  h1 {
    color: #fff;
    font-size: 3em;
    letter-spacing: 1px;
    margin: 0;
  }
  .get-btn {
    font-size: 1.3em;
    padding: 1.8em 2.1em;
    margin-bottom: 40px;
  }
}

.character {
  overflow: hidden;
  background-color: #3c3e44;
  color: #fff;
  border-radius: 1.25em;
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
  width: 850px;
  height: 280px;
  .placeholder-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      transform: scale(1.7);
    }
  }
  .image-div {
    width: 280px;
    height: 280px;
  }
  img {
    border-right: none;
    height: 250px;
  }
  .content {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    padding: 0 13px 13px 0;

    h1 {
      padding: 13px 0 10px;
      line-height: 120%;
      font-size: 2.5em;
      font-weight: 800;
    }
    h2 {
      font-weight: 600;
      font-size: 1.2em;
      line-height: 100%;
    }
    .characteristics {
      display: flex;
    }

    .details {
      display: flex;
      flex-direction: column;
      gap: 1em;
      h3 {
        color: #8b8b8a;
        font-weight: 600;
        font-size: 1.4em;
        margin-bottom: 0.5em;
      }
      p {
        transition: letter-spacing 0.2s ease;
        font-weight: 400;
        font-size: 1.3em;
        cursor: pointer;
        &:hover {
          text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.445);
          letter-spacing: 0.2px;
        }
      }
    }
  }
}
